footer {
	background-color: $site-footer-background-color;
	margin-top: auto;
	height: 80px;
	color: $site-footer-text-color;
	line-height: $site-footer-line-height;
	font-weight: $site-footer-font-weight;
}